; @orgmode? false
; @title layout-templ
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive pricing table.">

    @(if atom)
    <link href="$(root)$(atom)" rel="alternate" title="$(site-title)" type="application/atom+xml" />
    @(end)

    @(for remote.css)
    <link rel="stylesheet" href="$(.)" />
    @(end)

    @(for local.css)
    <link rel="stylesheet" href="$(root)$(.)" />
    @(end)

    <title>$(title)|$(site-title)</title>
  </head>
  <body>
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <a href="$(root)" class="pure-menu-heading">$(site-title)</a>
      <ul>
        <li><a href="$(root)about.html">About</a></li>
      </ul>
    </div>

    $(raw content)

    <div class="footer">
      <p class="l-box">
        <a href="http://twitter.com/$(twitter-id)">@$(twitter-id)</a> $(date-format now-date "yyyy")
      </p>
    </div>

    @(for local.js)
    <script type="text/javascript" src="$(root)$(.)"></script>
    @(end)
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-47072338-1', 'zarudama.com');
     ga('send', 'pageview');
    </script>
  </body>
</html>
