; @layout layout
; @title ざる魂について
; @orgmode? false

<div class="l-content">

  <div class="information pure-g-r">
    <div class="pure-u-1-2">
      <div class="l-box">
        <h3 class="information-head">ざる魂について</h3>
        <p>
          本サイトでは、「ざる魂」が開発した主にアンドロイド向けのゲームの紹介をします。
        </p>
      </div>
    </div>

    <div class="pure-u-1-2">
      <div class="l-box">
        <h3 class="information-head">不具合などについて</h3>
        <p>
          本サイトへのご意見、ご要望、アプリの不具合などの報告は、twitterにて受けつけております。<a href="http://twitter.com/$(twitter-id)">@$(twitter-id)</a>までお気軽にご連絡ください。
        </p>
      </div>
    </div>

    <div class="pure-u-1-2">
      <div class="l-box">
        <h3 class="information-head">サイトの技術的情報</h3>
        <p>
          次のツールを使用しています。
        </p>
        <ul><li>CSS Framework : <a href="http://purecss.io">Pure</a></li></ul>
        <ul><li>Site Generator : <a href="https://github.com/mikio/misaki-orgmode">Misaki.orgmode</a></li></ul>
      </div>
    </div>

    <div class="pure-u-1-2">
      <div class="l-box">
        <h3 class="information-head">開発者について</h3>
        <p>
          ウェブ系開発者をやっています。Twitterの個人アカウントは<a href="http://twitter.com/mikio_kun">@mikio_kun</a>です。
        </p>
      </div>
    </div>

    </div>
  </div> <!-- end information -->
</div> <!-- end l-content -->
